:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.contenedor {
  font-size: 20px;
}
/* EM */
.contenedor {
  font-size: 1.5em;
  /* 16 + 8 = 24px  */
  border: 1px solid red;
}

.contenedor p {
  font-size: 2em;

  /* font-size: 2 * 24 = 48px */
  padding: 0.5em;
}

/* REM */
.contenedor p {
  font-size: 1rem;
}

/* Porcentajes */
.contenedor {
  width: 50%;
}

/* Unidades ViewPort 

vw = viewport view 
vh = viewport height

*/

.contenedor {
  background: rgb(236, 127, 127);
  color: white;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.contenedor p {
  padding: 0;
  margin: 0;
}
