/* backgrounds */

/* .contenedor {
  height: 400px;
  width: 400px;
  background-color: red;
  background-image: url(../images/marvel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

body {
  height: 400vh;
}

/* backgrounds attachment */

.contenedor {
  background-image: url(../images/paralize.jpg);
  height: 200px;
  background-size: cover;
  /* background-size: contain; */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* background linear */

.contenedor {
  position: relative;
}

.contenedor h1 {
  color: rgba(255, 255, 255, 0.884);
  position: absolute;
  left: 30%;
  top: 20%;
  border: 4px solid rgba(255, 255, 255, 0.884);
  padding: 1rem;
}
